/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media (max-width: 768px) {
  header {
    padding: 20px 65px;
  }
  header .btn {
    display: block;
  }

  header .menu.active {
    right: 0;
  }

  header .menu {
    position: fixed;
    background: #6c63ff;
    flex-direction: column;
    min-width: 300px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition-property: right;
    transition: 0.5s;
  }

  header .menu .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  header .menu a {
    display: block;
    font-size: 16px;
    margin: 20px;
    padding: 0 15px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  header {
    padding: 20px 30px;
  }
  .section-main h1 {
    font-size: 50px;
    line-height: 60px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
