@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px  */
  /* scroll-behavior: smooth; */
  -ms-scroll-snap-type: Y proximity;
  scroll-snap-type: Y proximity;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

:root {
  --bg-color: #6c63ff;
  --white-color: #fff;
  --black-color: #2f2e43;
}

.container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid-two--cols {
  /* -ms-grid-columns: (1fr) [2]; */
  grid-template-columns: repeat(2, 1fr);
}
.grid-three--cols {
  /* -ms-grid-columns: (1fr) [3]; */
  grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
  /* -ms-grid-columns: (1fr) [4]; */
  grid-template-columns: repeat(4, 1fr);
}

/* hover effect button css  */
a button {
  /* color: var(--black-color); */
  padding: 1rem 3rem;
  font-size: 2rem;
  margin-top: 2rem;
  border: 2px solid var(--black-color);
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  transition: 0.3s;
  z-index: 1;
  color: var(--white-color);
}

a button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: var(--black-color);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}
a button:hover::before {
  width: 105%;
}
a button:hover {
  color: #ffffff;
}
/* hover effect button css  */

/************************** home seciton css craker **************************/

@keyframes firework {
  0% {
    transform: translate(var(--x), var(--initialY));
    width: var(--initialSize);
    opacity: 1;
  }
  50% {
    width: 0.5vmin;
    opacity: 1;
  }
  100% {
    width: var(--finalSize);
    opacity: 0;
  }
}

/* @keyframes fireworkPseudo {
  0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}
 */
.firework,
.firework::before,
.firework::after {
  --initialSize: 0.5vmin;
  --finalSize: 45vmin;
  --particleSize: 0.2vmin;
  --color1: yellow;
  --color2: khaki;
  --color3: white;
  --color4: lime;
  --color5: gold;
  --color6: mediumseagreen;
  --y: -30vmin;
  --x: -50%;
  --initialY: 60vmin;
  content: "";
  animation: firework 2s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, var(--y));
  width: var(--initialSize);
  aspect-ratio: 1;
  background: 
    /*
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
    */ radial-gradient(
        circle,
        var(--color1) var(--particleSize),
        #0000 0
      )
      50% 0%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
    /* bottom right */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80%
      90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
    /* bottom left */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22%
      90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
    /* top left */
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80%
      10%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
    /* top right */
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22%
      14%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%;
  background-size: var(--initialSize) var(--initialSize);
  background-repeat: no-repeat;
}

.firework::before {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
  /*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
  transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
  /*   animation: fireworkPseudo 2s infinite; */
}

.firework::after {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
  /*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
  transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
  /*   animation: fireworkPseudo 2s infinite; */
}

.firework:nth-child(2) {
  --x: 30vmin;
}

.firework:nth-child(2),
.firework:nth-child(2)::before,
.firework:nth-child(2)::after {
  --color1: pink;
  --color2: violet;
  --color3: fuchsia;
  --color4: orchid;
  --color5: plum;
  --color6: lavender;
  --finalSize: 40vmin;
  left: 30%;
  top: 60%;
  animation-delay: -0.25s;
}

.firework:nth-child(3) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(3),
.firework:nth-child(3)::before,
.firework:nth-child(3)::after {
  --color1: cyan;
  --color2: lightcyan;
  --color3: lightblue;
  --color4: PaleTurquoise;
  --color5: SkyBlue;
  --color6: lavender;
  --finalSize: 35vmin;
  left: 70%;
  top: 60%;
  animation-delay: -0.4s;
}

/************************** home seciton css craker **************************/

/* ++++++++++++++++++++++++++++++++++++++++++++ */

.section-main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 10rem;
}

.section-main h1 {
  font-size: 6rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 8rem;
  color: rgba(255, 255, 255, 0.5);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;
  z-index: 999;
  transition: 0.6s;
}

header.sticky {
  background-color: var(--bg-color);
  padding: 1.5rem 10rem;
}

header .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu a {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--white-color);
  margin: 0 0.1rem;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  border-radius: 1.5rem;
  transition: 0.3s;
  transition-property: color, background;
}

header .menu a:hover {
  color: var(--black-color);
  background: #fff;
}

header .btn {
  font-size: 2.5rem;
  cursor: pointer;
  color: #fff;
  display: none;
}

/********************* Home  *********************/
/* hero left css  */
.home {
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
  position: relative;
}

.home .container {
  padding-top: 15rem;
}

.home .grid {
  align-items: center;
  gap: 5rem;
}

.home .home-left h1 {
  color: var(--black-color);
  font-size: 4rem;
}
.home .home-left h2 {
  color: var(--black-color);
  font-size: 6.5rem;
  margin: 2rem 0;
  color: var(--white-color);
}

.home .home-left h2 .type-color {
  color: #2f2e43;
}
.home .home-left p {
  color: var(--black-color);
  font-size: 1.8rem;
  font-weight: 500;
}
/********** hero right css  **********/
.home .home-right {
  transform: scalex(-1);
}

#bar {
  animation: bar 2s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes bar {
  0% {
    transform: scaleX(0.8);
  }

  100% {
    transform: scaleX(1.5);
  }
}

/********************* about section css  *********************/
.about {
  position: relative;
}

.about .grid {
  gap: 2rem;
  align-items: center;
}
.about .about-heading {
  text-align: center;
  font-size: 3.5rem;
  color: var(--black-color);
}

/* about main css  */
.about .about-box {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  padding: 2rem 3rem;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}
/* about one sections animations  */
#aboutOne {
  animation: aboutOne 5s 1s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}
#aboutOnes {
  animation: aboutOne 6s 2s linear infinite;

  transform-origin: bottom;
  transform-box: fill-box;
}
#aboutOnebig {
  animation: aboutOnebig 4s 3s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}
@keyframes aboutOne {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.5);
  }
}
@keyframes aboutOnes {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes aboutOnebig {
  0% {
    transform: scaleX(0.5);
  }
  50% {
    transform: scaleX(1.2);
  }
  100% {
    transform: scaleX(0.5);
  }
}
/* about one sections animations  */
/* ********************** */
/* about two sections animations  */
#abouttwo {
  animation: aboutOne 5s 1s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#abouttwos {
  animation: abouttwos 3s 1s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#abouttwoss {
  animation: abouttwos 1.5s 1s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes abouttwos {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(0.5);
  }
}
@keyframes abouttwoss {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(0.5);
  }
}
/* about two sections animations  */
/* +++++++++++++++++ */
/* about three section animations  */
#dots {
  animation: dots 5s 1s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes dots {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(0.5);
  }
}
/* about three section animations  */

.about .about-img-text h4 {
  font-size: 3rem;
  margin: 2rem 0;
}
.about .about-img-text p {
  font-size: 1.5rem;
}
/************** Services section css  **************/
#Services-main {
  background-color: var(--bg-color);
}
.Services {
  position: relative;
}

.Services .grid {
  gap: 3rem;
}
.Services-heading {
  text-align: center;
  color: var(--black-color);
}
.Services-heading h3 {
  font-size: 3.5rem;
}
.Services-heading h2 {
  font-size: 6rem;
  margin-top: 2rem;
  color: var(--white-color);
}

/* Services services cards css  */
.Services-card-data {
  /* border: 1px solid var(--bg-color); */
  background-color: var(--black-color);
  padding: 4rem 5rem;
  text-align: center;
  width: 100%;
  height: 100%;
  /* box-shadow: 0 5px 5px 5px rgba(13, 110, 253, 0.2); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation: bordermove 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}
@keyframes bordermove {
  0%,
  100% {
    border-radius: 60% 40% 30% 100% / 60% 30% 100% 40%;
  }
  50% {
    border-radius: 30% 60% 100% 40% / 50% 60% 30% 60%;
  }
}
.Services-card-data .Services-no h4 {
  font-size: 3.6rem;
  background-color: var(--white-color);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  color: var(--bg-color);
  animation: bordermove 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

.Services-card-heading h3 {
  font-size: 3rem;
  padding: 1rem;
  color: var(--white-color);
}

.Services-card-para p {
  font-size: 1.5rem;
  color: var(--white-color);
}

/***************** feature section css  *****************/
.feature {
  position: relative;
}
.feature .grid {
  gap: 5rem;
  align-items: center;
}
.feature .feature-heading {
  text-align: center;
  font-size: 3.5rem;
  color: var(--black-color);
}

/* feature main section  */
/* feature img 1  */
.feature .feature-img .domian-one {
  position: absolute;
  -webkit-animation-name: movebounce;
  animation-name: movebounce;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* animation css  */
@-webkit-keyframes movebounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(1.25rem);
    transform: translateY(1.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes movebounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(1.25rem);
    transform: translateY(1.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* feature img 2  */
.feature .feature-img .hosting-one {
  position: absolute;
  -webkit-animation-name: movelr;
  animation-name: movelr;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* animation css  */
@-webkit-keyframes movelr {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(1.25rem);
    transform: translateX(1.25rem);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes movelr {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  50% {
    -webkit-transform: translate(1.25rem);
    transform: translate(1.25rem);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/* feature img 3  */

.feature .feature-img .dynamic-one {
  position: absolute;

  -webkit-animation-name: movebounce;
  animation-name: movebounce;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* animation css  */
@-webkit-keyframes movebounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(1.25rem);
    transform: translateY(1.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes movebounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(1.25rem);
    transform: translateY(1.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* ________________ */
.feature .feature-img .dynamic-two {
  -webkit-animation-name: movebounce;
  animation-name: movebounce;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* animation css  */
@-webkit-keyframes movebounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(1.25rem);
    transform: translateY(1.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes movebounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(1.25rem);
    transform: translateY(1.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.feature .feature-text h4 {
  margin-bottom: 2rem;
  font-size: 3rem;
}
.feature .feature-text h4 .feature-domain {
  color: var(--bg-color);
}
.feature .feature-text p {
  font-size: 1.5rem;
}

/*************** why choose us section  ***************/
.choose {
  background-color: var(--bg-color);
}
.choose .choose-heading {
  text-align: center;
  font-size: 3rem;
  color: var(--white-color);
}
/* choose us main section  */
.sec-four {
  background-color: var(--main-color);
  padding: 8rem 0;
}
.testimonials-section {
  width: 100%;
  padding: 0px 8%;
}
.testimonials-section .section-header {
  max-width: 700px;
  text-align: center;
  margin: 30px auto 40px;
}
.section-header h1 {
  position: relative;
  font-size: 36px;
  color: var(--primary-clr);
}
.testimonials-container {
  position: relative;
}
.testimonials-container .testimonial-card {
  padding: 0.5rem;
}
.testimonial-card .test-card-body {
  background-color: var(--card-clr);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.12);
  padding: 5rem;
  border-radius: 1rem;
}
.test-card-body .quote {
  display: flex;
  align-items: center;
}
.test-card-body .quote i {
  font-size: 45px;
  color: var(--white-color);
  margin-right: 20px;
}
.quote h2 {
  color: var(--white-color);
  font-size: 3rem;
}
.test-card-body p {
  margin: 10px 0px 15px;
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--black-color);
}

.testimonial-card .profile {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.profile .profile-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}
.profile .profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.profile .profile-desc {
  display: flex;
  flex-direction: column;
}
.profile-desc span:nth-child(1) {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-clr);
}
.profile-desc span:nth-child(2) {
  font-size: 15px;
  /* color: var(--black-color); */
  /* color: red; */
}
.owl-nav {
  position: absolute;
  right: 20px;
  bottom: -10px;
}
.owl-nav button {
  border-radius: 50%;
}
.owl-nav .owl-prev i,
.owl-nav .owl-next i {
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
  background-color: var(--white-color);
  color: var(--black-color);
  cursor: pointer;
  transition: 0.4s;
}
.owl-nav .owl-prev i:hover,
.owl-nav .owl-next i:hover {
  background-color: var(--white-color);
  /* color: #e9e9e9; */
  border: none;
  outline: none;
}
.owl-dots {
  margin-top: 15px;
}
.owl-dots .owl-dot span {
  background-color: #434753;
  padding: 6px;
}
.owl-dot .active span {
  background-color: var(--main-color);
}
